<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport"-->
    <!--content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <title>About Page</title>


    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>


    <script src="/scripts/semantic.min.js"></script>
    <script src="/scripts/lazysizes.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
    <link rel="stylesheet" type="text/css"  href="/stylesheets/style.css">


</head>
<body>

<nav class="ui fixed inverted menu">
    <div class="ui container">
        <h3 class="header item"> <i class="ordered list icon"></i> Topot</h3>
        <div class="right menu">
            <a class="item" href="/">Home</a>
            <a class="item" href="/lists/new">Add new TopList</a>
            <a class="item" href="/lists">All List</a>
        </div>
    </div>


</nav>

<h1>{{pageTitle}}</h1>


